<!DOCTYPE html>

<html ng-app="recipeApp" ng-controller="recipeCtrl">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="includes/scripts.js"></script>
    <link type="text/css" rel="stylesheet" href="includes/style.css" />
</head>

<body class="{{currentTheme}}">
    <div class="contentBox">
        <div class="controlsBox">
            <a href="./new/index.html" class="button-like"><b>+ Add recipe</b></a>
            <h2>Controls</h2>
            <button ng-click="showControls = !showControls">See <span ng-hide="showControls">more</span><span ng-show="showControls">less</span></button>
            <div ng-show="showControls">
                <ul class="controlsList">
                    <li class="themesBox">
                        <label for="themeSelector">Theme</label>
                        <select id="themeSelector" ng-model="currentTheme" ng-change="storeTheme(currentTheme)"
                            ng-options="t for t in themes"></select>
                    </li>

                    <li class="searchByName">
                        <label for="searchByName">Name contains</label>
                        <input id="searchByName" type="text" ng-model="filters.Name">
                    </li>

                    <li class="searchByTags">
                        <label>Tags</label>
                        <ul class="tagCategoryList">
                            <li ng-repeat="category in getTags().Categories" class="tagCategory"
                                id="tagCategory-{{ category }}">
                                <b>{{category}}</b>
                                <ul class="tagList" id="tagList-{{category}}">
                                    <li ng-repeat="tag in getTags()[category]" class="tagFilter"
                                        id="tag-{{category}}-{{tag}}">
                                        <input type="checkbox" ng-model="filters.Tag"
                                            id="checkbox-{{category}}-{{tag}}" />
                                        <label class="checkboxLabel" for="checkbox-{{category}}-{{tag}}"
                                            ng-click="toggleTag(category, tag)">{{tag}}</label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mainContentBox">
            <ul id="recipeList" class="boxyList">
                <li ng-repeat="recipe in getRecipes() | recipeFilters:filters track by $index" id="recipe-{{ recipe.Name }}">
                    <h2 class="recipeName" ng-click="recipe.Show = !recipe.Show">{{ recipe.Name }}</h2>

                    <div class="description">{{ recipe.Description }}</div>

                    <ul class="tagsList">
                        <li ng-repeat="tag in recipe.Tags">
                            {{ tag }}
                        </li>
                    </ul>

                    <div class="recipeDetails" id="recipeDetails-{{ recipe.Name }}" ng-show="recipe.Show">
                        <h3 class="ingredientsHeader">Ingredients</h3>
                        <ul class="ingredientsList">
                            <li ng-repeat="ingredient in recipe.Ingredients">
                                {{ ingredient }}
                            </li>
                        </ul>

                        <h3 class="prepHeader">Preparation</h3>
                        <ul class="prepList">
                            <li ng-repeat="prep in recipe.Prep">
                                {{ prep }}
                            </li>
                        </ul>

                        <h3 class="stepsHeader">Steps</h3>
                        <ol class="stepsList">
                            <li ng-repeat="step in recipe.Steps">
                                {{ step }}
                            </li>
                        </ol>

                        <h3 class="notesHeader">Notes</h3>
                        <div class="notes">
                            {{ recipe.Notes }}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>