.fire {
    --color-text-emphasis: #F1E8B8;
    --color-text: #F9E784;
    --color-medium: #9E684D;
    --color-background: #490808;
    --color-background-emphasis: #191919;
}

.water {
    --color-text-emphasis: #7BC4C9;
    --color-text: #E0E0E2;
    --color-medium: #B5BAD0;
    --color-background: #5473A8;
    --color-background-emphasis: #416788;
}

.earth {
    --color-text-emphasis: #69BE67;
    --color-text: #E5F780;
    --color-medium: #DB9130;
    --color-background: #1B3A1C;
    --color-background-emphasis: #0C0D0C;
}

.air {
    --color-text-emphasis: #6C93CE;
    --color-text: #1C51A0;
    --color-medium: #88BBD6;
    --color-background: #E9E9E9;
    --color-background-emphasis: #CDCDCD;
}

.magic {
    --color-text: #D3FFF3;
    --color-text-emphasis: #91B3F1;
    --color-medium: #3C7CF2;
    --color-background: #2D2D2D;
    --color-background-emphasis: #9649CB;
}

.light {
    --color-text-emphasis: #888888;
    --color-text: #333333;
    --color-medium: #A6A2A6;
    --color-background: #FFFFFF;
    --color-background-emphasis: #D2CBD3;
}

.dark {
    --color-text-emphasis: #A4B9D4;
    --color-text: #A5A3BC;
    --color-medium: #40434B;
    --color-background: #06080C;
    --color-background-emphasis: #000000;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;

    background-color: var(--color-background);
    color: var(--color-text);
    font-family: "Trebuchet MS";
}

h1, h2, h3, h4, h5 {
    color: var(--color-text-emphasis);
}

h3, h4, h5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.themesBox .themesLabel {
    color: var(--color-text-emphasis);
}

select, select > * {
    background-color: var(--color-medium);
    color: var(--color-text);
    border: none;
    border-radius: 10px;
}

ul#recipeList, ul#recipeList ul {
    list-style-type: none;
}

ul#recipeList {
    padding: 0;

    display: flex;

    justify-content: space-evenly;
}

ul#recipeList > li {
    margin: 10px;
    padding: 10px;

    border: 2px solid var(--color-medium);
    border-radius: 10px;

    background-color: var(--color-background-emphasis);

    flex: 1 0 0;
}

.contentBox {
    display: flex;
    flex-flow: row nowrap;

    padding-bottom: 10px;
}

.controlsBox {
    padding: 10px;
    background-color: var(--color-medium);
}

.controlsList {
    list-style-type: none;
    padding: 0;
}

.controlsList li {
    background-color: var(--color-background-emphasis);
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

.recipesBox {
    width: 100%;
}

ul.tagsList {
    padding: 0;
    display: flex;
}

ul.tagsList > li {
    background-color: var(--color-medium);
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

@media only screen and (max-width: 750px) {
    ul#recipeList {
        flex-flow: column nowrap;
    }

    .contentBox {
        flex-direction: column;
    }
}